<div class="container--fluid qaPage__head">
  <div class="qaPage__header">
    <div class="qaPage__header__featuredImage">
      <img src="/images-theme/qa-header-banner.jpg" alt="">
      <div class="qaPage__header__caption">
        <div class="qaPage__header__caption__title">
          <h1>{{ .Params.title }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container container--contentWithPadding">
  <div class="qaPage__tabs">
    <div class="qaPage__tabs__column">
      <div class="qaPage__tab">
        <div class="qaPage__tab__title">
          <p>How does the dream machine work?</p>
        </div>
        <div class="qaPage__tab__content">
          <p>The hypnagogic state and is defined as the place the mind travels
            between sleeping and ordinary consciousness.Some artists believe that
            the dreamachine helps to rearrange patterns of the unconscious mind and
            bring the practitioner to a place between memory and pure consciousness.</p>
          <p>This region of consciousness has been referred to in the writings
            from Aristotle to Edgar Allan Poe.</p>
        </div>
      </div>
      <div class="qaPage__tab">
        <div class="qaPage__tab__title">
          <p>What are the stages of consciousness?</p>
        </div>
        <div class="qaPage__tab__content">
          <p>The hypnagogic state and is defined as the place the mind travels
            between sleeping and ordinary consciousness.Some artists believe that
            the dreamachine helps to rearrange patterns of the unconscious mind and
            bring the practitioner to a place between memory and pure consciousness.</p>
          <p>This region of consciousness has been referred to in the writings
            from Aristotle to Edgar Allan Poe.</p>
        </div>
      </div>
      <div class="qaPage__tab active">
        <div class="qaPage__tab__title">
          <p>What is the hypnagogic state?</p>
        </div>
        <div class="qaPage__tab__content">
          <p>The hypnagogic state and is defined as the place the mind travels
            between sleeping and ordinary consciousness.Some artists believe that
            the dreamachine helps to rearrange patterns of the unconscious mind and
            bring the practitioner to a place between memory and pure consciousness.</p>
          <p>This region of consciousness has been referred to in the writings
            from Aristotle to Edgar Allan Poe.</p>
        </div>
      </div>
      <div class="qaPage__tab">
        <div class="qaPage__tab__title">
          <p>How is mindfulness meditation similar to the Dreamachine?</p>
        </div>
        <div class="qaPage__tab__content">
          <p>The hypnagogic state and is defined as the place the mind travels
            between sleeping and ordinary consciousness.Some artists believe that
            the dreamachine helps to rearrange patterns of the unconscious mind and
            bring the practitioner to a place between memory and pure consciousness.</p>
          <p>This region of consciousness has been referred to in the writings
            from Aristotle to Edgar Allan Poe.</p>
        </div>
      </div>
      <div class="qaPage__tab">
        <div class="qaPage__tab__title">
          <p>What are the different type of brain waves?</p>
        </div>
        <div class="qaPage__tab__content">
          <p>The hypnagogic state and is defined as the place the mind travels
            between sleeping and ordinary consciousness.Some artists believe that
            the dreamachine helps to rearrange patterns of the unconscious mind and
            bring the practitioner to a place between memory and pure consciousness.</p>
          <p>This region of consciousness has been referred to in the writings
            from Aristotle to Edgar Allan Poe.</p>
          <p>This region of consciousness has been referred to in the writings
            from Aristotle to Edgar Allan Poe.</p>
        </div>
      </div>
      <div class="qaPage__tab">
        <div class="qaPage__tab__title">
          <p>What does a mind machine do?</p>
        </div>
        <div class="qaPage__tab__content">
          <p>The hypnagogic state and is defined as the place the mind travels
            between sleeping and ordinary consciousness.Some artists believe that
            the dreamachine helps to rearrange patterns of the unconscious mind and
            bring the practitioner to a place between memory and pure consciousness.</p>
          <p>This region of consciousness has been referred to in the writings
            from Aristotle to Edgar Allan Poe.</p>
        </div>
      </div>
      <div class="qaPage__tab">
        <div class="qaPage__tab__title">
          <p>Why App uses Blue?</p>
        </div>
        <div class="qaPage__tab__content">
          <p>The hypnagogic state and is defined as the place the mind travels
            between sleeping and ordinary consciousness.Some artists believe that
            the dreamachine helps to rearrange patterns of the unconscious mind and
            bring the practitioner to a place between memory and pure consciousness.</p>
          <p>This region of consciousness has been referred to in the writings
            from Aristotle to Edgar Allan Poe.</p>
        </div>
      </div>
    </div>
    <div class="qaPage__tabs__column">
      <div class="qaPage__tab">
        <div class="qaPage__tab__title">
          <p>Who has used the dreamachine or alpha and hypnagogic states?</p>
        </div>
        <div class="qaPage__tab__content">
          <p>The hypnagogic state and is defined as the place the mind travels
            between sleeping and ordinary consciousness.Some artists believe that
            the dreamachine helps to rearrange patterns of the unconscious mind and
            bring the practitioner to a place between memory and pure consciousness.</p>
          <p>This region of consciousness has been referred to in the writings
            from Aristotle to Edgar Allan Poe.</p>
        </div>
      </div>
      <div class="qaPage__tab">
        <div class="qaPage__tab__title">
          <p>What is mindfulness meditation?</p>
        </div>
        <div class="qaPage__tab__content">
          <p>The hypnagogic state and is defined as the place the mind travels
            between sleeping and ordinary consciousness.Some artists believe that
            the dreamachine helps to rearrange patterns of the unconscious mind and
            bring the practitioner to a place between memory and pure consciousness.</p>
          <p>This region of consciousness has been referred to in the writings
            from Aristotle to Edgar Allan Poe.</p>
        </div>
      </div>
      <div class="qaPage__tab">
        <div class="qaPage__tab__title">
          <p>What are brain waves? </p>
        </div>
        <div class="qaPage__tab__content">
          <p>The hypnagogic state and is defined as the place the mind travels
            between sleeping and ordinary consciousness.Some artists believe that
            the dreamachine helps to rearrange patterns of the unconscious mind and
            bring the practitioner to a place between memory and pure consciousness.</p>
          <p>This region of consciousness has been referred to in the writings
            from Aristotle to Edgar Allan Poe.</p>
        </div>
      </div>
      <div class="qaPage__tab">
        <div class="qaPage__tab__title">
          <p>Can I practice mindfulness in combination with the Dreamachine?  </p>
        </div>
        <div class="qaPage__tab__content">
          <p>The hypnagogic state and is defined as the place the mind travels
            between sleeping and ordinary consciousness.Some artists believe that
            the dreamachine helps to rearrange patterns of the unconscious mind and
            bring the practitioner to a place between memory and pure consciousness.</p>
          <p>This region of consciousness has been referred to in the writings
            from Aristotle to Edgar Allan Poe.</p>
        </div>
      </div>
      <div class="qaPage__tab">
        <div class="qaPage__tab__title">
          <p>How does meditation change brainwaves?</p>
        </div>
        <div class="qaPage__tab__content">
          <p>The hypnagogic state and is defined as the place the mind travels
            between sleeping and ordinary consciousness.Some artists believe that
            the dreamachine helps to rearrange patterns of the unconscious mind and
            bring the practitioner to a place between memory and pure consciousness.</p>
          <p>This region of consciousness has been referred to in the writings
            from Aristotle to Edgar Allan Poe.</p>
        </div>
      </div>
      <div class="qaPage__tab">
        <div class="qaPage__tab__title">
          <p>Could the Dreamachine promote neural plasticity?</p>
        </div>
        <div class="qaPage__tab__content">
          <p>The hypnagogic state and is defined as the place the mind travels
            between sleeping and ordinary consciousness.Some artists believe that
            the dreamachine helps to rearrange patterns of the unconscious mind and
            bring the practitioner to a place between memory and pure consciousness.</p>
          <p>This region of consciousness has been referred to in the writings
            from Aristotle to Edgar Allan Poe.</p>
        </div>
      </div>
    </div>
  </div>
</div>
