{{$qa := .Params}}
<div class="container--fluid qaPage__head">
  <div class="qaPage__header">
    <div class="qaPage__header__featuredImage">
      <img src="/images-theme/qa-header-banner.jpg" alt="">
      <div class="qaPage__header__caption">
        <div class="qaPage__header__caption__title">
          <h1>{{$qa.header_title}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container container--contentWithPadding">
  <div class="qaPage__tabs">
    <div class="qaPage__tabs__column">
      {{range $qa.qa_left_column}}
        <div class="qaPage__tab">
          <div class="qaPage__tab__title">
            <p>{{.title}}</p>
          </div>
          <div class="qaPage__tab__content">
            <p>{{.description |markdownify}}</p>
          </div>
        </div>
      {{end}}
    </div>
    <div class="qaPage__tabs__column">
      {{range $qa.qa_right_column}}
        <div class="qaPage__tab">
          <div class="qaPage__tab__title">
            <p>{{.title}}</p>
          </div>
          <div class="qaPage__tab__content">
            <p>{{.description |markdownify}}</p>
          </div>
        </div>
      {{end}}
    </div>
  </div>
</div>
<div class="container container--contentWithPadding qaPage__guideAndTips">
  <div class="qaPage__guideAndTips__column">
    <div class="qaPage__guideAndTips__title">
      <p>{{$qa.guide_title}}</p>
    </div>
    <div class="qaPage__guideAndTips__list">
      <ol>
        {{range $qa.guide}}
          <li>{{.item}}</li>
        {{end}}
      </ol>
    </div>
  </div>
  <div class="qaPage__guideAndTips__column">
    <div class="qaPage__guideAndTips__title">
      <p>{{$qa.tips_title}}</p>
    </div>
    <div class="qaPage__guideAndTips__list">
      <ul>
        {{range $qa.tips}}
          <li>{{.item}}</li>
        {{end}}
      </ul>
    </div>
  </div>
</div>
