{{$dm := .Params}}
<div class="container--fluid originalDM__head">
  <div class="container originalDM__header">
    <div class="originalDM__header__description">
        <div class="originalDM__header__description__title">
          <h1>{{$dm.header_title}}</h1>
        </div>
        <div class="originalDM__header__description__tagline">
          <p>{{$dm.header_description | markdownify}}</p>
        </div>
    </div>
    <div class="originalDM__header__picture">
      <img src="/images-theme/originaldm-header-image.jpg" alt="">
    </div>
  </div>
</div>
<div class="container container--contentWithPadding originalDM__content">
  <div class="originalDM__content__title">
    <h2>{{$dm.content_title}}</h2>
  </div>
  <div class="originalDM__content__text">
      <div class="originalDM__content__text__column">
        {{$dm.content_left_column | markdownify}}
      </div>
      <div class="originalDM__content__text__column">
        {{$dm.content_right_column | markdownify}}
      </div>
  </div>
</div>
