<div class="container--fluid originalDM">
  <div class="originalDM__header">
    <div class="originalDM__header__description">
        <div class="originalDM__header__description__title">
          <h1>The Original Dreamachine</h1>
        </div>
        <div class="originalDM__header__description__tagline">
          <p>In the 1960s beat generation artist, Brion Gysin worked in collaboration
            with Ian Somerville, a Cambridge University mathematics student.
            A combination of artistic ingenuity, minimal resources and fierce
            intellect coalesced into the invention of the Dreamachine.</p>
          <p>The Dreamachine’s components consist of a cylinder with mathematically
            designed slots based upon Sufic geometry, a hanging light bulb, and 78-rpm
            turntable. The turntable and the cylinder are stuck together and the light
            bulb was suspended from the ceiling into the center of the cylinder.</p>
          <p>When the turntable begins to rotate at 78 rpm, pulses of light flash
            in the frequencies of 8 to 13 pulses per second.</p>
          <p>The Dreamachine became a tool to enhance creativity and was championed
            by writers from William Burroughs and Allen Ginsberg to musicians Kurt
            Cobain, David Bowie and Paul McCartney.  Before the use of EEG, Gysin
            too supposed that the machine tapped into the alpha waves of the human brain.</p>
        </div>
    </div>
    <div class="originalDM__header__picture">
      <img src="/images-theme/originaldm-header-image.jpg" alt="">
    </div>
  </div>
</div>
