{{ $header := .Params.header}}
{{ $site := .Site.Params}}
<div class="container--fluid mainPageHeader">
  <div class="container mainPageHeader__innerShifted mainPageHeader__slider">
    {{ range $header.slider }}
      <div class="mainPageHeader__slide">
        <img src="{{.slider_image}}" alt="">
        <div class="mainPageHeader__slide__content">
          <div class="mainPageHeader__heading">
            <h1 class="mainPageHeader__heading__title">
              {{ $header.title }}
            </h1>
            <p class="mainPageHeader__heading__description">
              {{ $header.description }}
            </p>
            <div class="mainPageHeader__heading__cta">
              <a href="{{ $site.app_store.link }}" target="_blank" class="mainPageHeader__heading__appStore">
                {{partial "svg/app-store-button"}}
              </a>
            </div>
          </div>
          <div class="mainPageHeader__excerptions">
            {{ range $header.quotes }}
              <div class="mainPageHeader__excerption">
                <div class="mainPageHeader__excerption__description">
                  <p>{{ .quote }}</p>
                </div>
                <div class="mainPageHeader__excerption__author">
                  <span class="bottomDash">{{ .author }}</span>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</div>
