@media screen and (max-width: 768px)
  .newsHeader__listHead
    padding-bottom: 100px
    padding-top: 50px
  .newsHeader__listHead__title
    +chageFontSize(38px, 48px)
  .newsList,
  .newsList__item:nth-child(2n)
    top: 0
  .newsList__item
    width: 100%
    margin-top: 50px
  .newsList__item:nth-child(2n)
    .newsList__item__shortDescription
      right: 35px
