.newsHeader
  background: $grayBackground
  &__listHead
    max-width: 1340px
    width: 100%
    margin: 0px auto
    padding-top: 75px
    padding-bottom: 150px
    box-sizing: border-box
    padding-left: 40px
    &__title
      padding: 28px 40px 28px 50px
      background-image: $whiteToBlue
      display: inline-block
      +font($headingFont, 52px, 61px, $white, normal, none, uppercase)
.newsList
  max-width: 1420px
  width: 100%
  margin: 0px auto
  display: flex
  flex-flow: row wrap
  position: relative
  top: -58px
  &__item
    width: calc(50% - 80px)
    margin: 0px 40px 50px
    &:nth-child(2n)
      position: relative
      top: -140px
    &__featuredImage
      max-height: 306px
      overflow-y: hidden
      img
        width: 100%
    &__shortDescription
      box-sizing: border-box
      background: $white-2
      padding: 35px
      position: relative
      right: -35px
      +font($primaryFont, 21px, 25px, $black-2, normal, none, none)
    &__readMore
      padding-top: 25px
      text-align: right
      a, a:hover, a:visited, a:active
        +font($primaryFont, 21px, 25px, $blue-4, normal, none, none)

//single page styles
.newsHeader
  &__singleHead
    text-align: right
    &__caption
      position: absolute
      max-width: 600px
      left: 190px
      top: 0px
      bottom: 0px
      display: flex
      align-items: center
      align-content: center
      text-align: left
      +font($headingFont, 52px, 64px, $white, normal, none, none)
    &__featuredImage
      max-width: 1730px
      display: inline-block
      position: relative
      width: calc(100% - 40px)
      top: 40px
      margin-top: -40px
      img
        min-width: initial
        width: initial
        max-width: initial
        height: 100%
        margin-bottom: -5px
.articleContent
  max-width: 1160px
  width: 100%
  margin: 150px auto 200px
.wysiwyg
  color: $black-3
  +font($primaryFont, 22px, 32px, $black-3, normal, none, none)
  h1, h2
    +chageFontSize(38px, 48px)
    margin-bottom: 38px
  h3, h4
    +chageFontSize(30px, 40px)
    margin-bottom: 30px
  h5, h6
    +chageFontSize(28px, 38px)
    margin-bottom: 28px
  p, ul, ol, blockquote
    margin-bottom: 22px
    p
      margin-bottom: 0
      display: inline-block
  ul, ol
    list-style-position: inside
  ul li
    list-style-type: disc
  ol li
    list-style-type: decimal
  a
    text-decoration: underline
    &:hover
      text-decoration: none
  a, a:hover, a:active, a:visited
    color: $black-3
  blockquote
    border-left: 5px solid $white-1
    padding-left: 20px
