.originalDM
  &__head
    background: $grayBackground
    position: relative
  &__header
    &__picture
      position: absolute
      right: 0px
      top: 0px
      z-index: 1
      max-width: 1240px
      width: 100%
    &__description
      position: relative
      z-index: 2
      padding: 60px 0 100px
      &__title
        +font($headingFont, 52px, 61px, $white, normal, none, none)
        margin-bottom: 40px
      &__tagline
        max-width: 768px
        +font($primaryFont, 21px, 25px, $white, normal, none, none)
        opacity: .8
        p
          margin-bottom: 21px
.originalDM__content
  padding: 180px 40px
  &__title
    +font($headingFont, 52px, 61px, $blue-4, normal, none, none)
    margin-bottom: 70px
  &__text
    display: flex
    flex-flow: row wrap
    +font($primaryFont, 21px, 25px, $black-4, normal, none, none)
    p
      max-width: 636px
      margin-bottom: 30px
      strong
        text-transform: uppercase
    &__column
      width: 50%
      padding-right: 40px
      box-sizing: border-box
