<div class="container--fluid experiencesHeader">
  <div class="experiencesHeader__listHead">
    <div class="experiencesHeader__listHead__title">
      <h1>{{ .Params.title }}</h1>
    </div>
  </div>
</div>
<div class="experiencesList">
  <div class="experiencesList__column">
    <div class="experiencesList__item">
      <div class="experiencesList__item__details">
        <div class="experiencesList__item__details__photo">
          <img src="/images-theme/bryon-gysin.jpg" alt="">
        </div>
        <div class="experiencesList__item__details__caption">
          <p>“Vision start with a kaleidoscope of colors on a plane in front of
            the eyes and gradually become more complex and beautiful, looking like
            the surf on the shore until whole patterns of color are pounding to get in.
            After a while the visions were permanently
            behind my eyes and I was in the middle of the whole scene  with limitless
            patterns generated around me. ”</p>
          <div class="experiencesList__item__details__name">
            <span>Bryon Gysin</span>
          </div>
        </div>
      </div>
    </div>
    <div class="experiencesList__item">
      <div class="experiencesList__item__details">
        <div class="experiencesList__item__details__photo">
          <img src="/images-theme/william-grey-walter.jpg" alt="">
        </div>
        <div class="experiencesList__item__details__caption">
          <p>Flicker  proved  to be a key to many doors. We used it for us as a clinical aid in the diagnosis of
            epilepsy, from the very first it's revelations were fundamental both clinic in laboratory. </p>
          <div class="experiencesList__item__details__name">
            <span>william grey walter</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="experiencesList__column"></div>
</div>
