{{$experiences := .Params}}
<div class="container--fluid experiencesHeader">
  <div class="experiencesHeader__listHead">
    <div class="experiencesHeader__listHead__title">
      <h1>{{$experiences.title}}</h1>
    </div>
  </div>
</div>
<div class="experiencesList">
  <div class="experiencesList__column">
    {{range $experiences.left_column}}
      <div class="experiencesList__item">
        <div class="experiencesList__item__details">
          <div class="experiencesList__item__details__photo">
            <img src="{{.image}}" alt="">
          </div>
          <div class="experiencesList__item__details__caption">
            <p>{{.quote}}</p>
            <div class="experiencesList__item__details__name">
              <span>{{.author}}</span>
            </div>
          </div>
        </div>
      </div>
    {{end}}
  </div>
  <div class="experiencesList__column">
    {{range $experiences.right_column}}
      <div class="experiencesList__item">
        <div class="experiencesList__item__details">
          <div class="experiencesList__item__details__photo">
            <img src="{{.image}}" alt="">
          </div>
          <div class="experiencesList__item__details__caption">
            <p>{{.quote}}</p>
            <div class="experiencesList__item__details__name">
              <span>{{.author}}</span>
            </div>
          </div>
        </div>
      </div>
    {{end}}
  </div>
</div>
