{{$currentPage := .URL}}
<div class="sidebarMenu">
  <div class="sidebarMenu__navigation">
    <span class="sidebarMenu__closeMenu">{{ .Site.Params.ui.close_menu }}</span>
  </div>
  <div class="sidebarMenu__navigation__list">
    <ul>
      {{ range .Site.Menus.main }}
        {{if .URL }}
          <li>
            {{if eq $currentPage .URL}}
              <a href="{{ .URL }}" class="active">{{ .Name }}</a>
            {{else}}
              <a href="{{ .URL }}">{{ .Name }}</a> {{end}}
          </li>
        {{ end }}
      {{ end }}
      <li><a href="mailto:{{.Site.Params.contact_us.email}}">
        {{.Site.Params.contact_us.text}}
      </a></li>
      <li>
        <a href="{{ .Site.Params.app_store.link }}" target="_blank" class="mainPageHeader__heading__appStore">
          {{partial "svg/app-store-button-sm"}}
        </a>
      </li>
      <li>
        <a href="{{.Site.Params.social_networks.facebook}}" target="_blank" class="menuSvg">
          {{partial "svg/bra-facebook" .}}</a>
        <a href="{{.Site.Params.social_networks.twitter}}" target="_blank" class="menuSvg">
          {{partial "svg/bra-twitter" .}}</a>
        <a href="{{.Site.Params.social_networks.instagram}}" target="_blank" class="menuSvg">
          {{partial "svg/bra-instagram" .}}</a>
      </li>
    </ul>
  </div>
</div>
<div class="overlayCloseMenu"></div>
