<div class="sidebarMenu">
  <div class="sidebarMenu__navigation">
    <span class="sidebarMenu__closeMenu">CLOSE</span>
  </div>
  <div class="sidebarMenu__navigation__list">
    <ul>
      <li>
        <a href="" class="active">HOME</a>
      </li>
      <li>
        <a href="">ABOUT</a>
      </li>
      <li>
        <a href="">Original Dreamachine</a>
      </li>
      <li>
        <a href="">Experiences</a>
      </li>
      <li>
        <a href="">Q&A</a>
      </li>
      <li>
        <a href="">News</a>
      </li>
    </ul>
  </div>
</div>
<div class="overlayCloseMenu"></div>
