{{$tips := .Params.tips}}
<div class="container--fluid tips">
  <div class="container container--contentWithPadding">
    <div class="tips__sectionTitle">
      <p>{{$tips.title}}</p>
    </div>
    <div class="tips__list">
      <div class="tips__list__column">
        {{range $tips.left_column}}
          <div class="tips__list__item">
            <p>{{.text}}</p>
          </div>
        {{end}}
      </div>
      <div class="tips__list__column">
        {{range $tips.right_column}}
          <div class="tips__list__item">
            <p>{{.text}}</p>
          </div>
        {{end}}
      </div>
    </div>
  </div>
</div>
