.sidebarMenu
  position: fixed
  top: 0px
  height: 100vh
  background: $gray-7
  z-index: 100
  padding: 25px 45px
  box-sizing: border-box
  max-width: 533px
  width: 100%
  right: -533px
  +transition(300ms, cubic-bezier(.32,.47,.57,.96))
  &.active
    right: 0px
    ul li
      animation: textAnimation 1000ms cubic-bezier(.32,.47,.57,.96)
      animation-fill-mode: forwards
    @for $i from 0 through 20
      ul li:nth-child(#{$i})
        $plus: 25ms*$i
        animation-delay: 350ms+$plus
  &__navigation
    text-align: right
    margin-bottom: 75px
  &__closeMenu
    +font($primaryFont, 27px, 31px, $white-1, normal, none, uppercase)
  &__navigation__list
    ul li
      position: relative
      opacity: 0
    svg path
      +transition(300ms, linear)
    ul li a
      +font($primaryFont, 24px, 73px, $gray-6, normal, none, uppercase)
      +transition(300ms, linear)
      border-left: 2px solid transparent
      padding-left: 15px
      &.menuSvg:hover svg path
        fill: $blue-3
      &:hover
        color: $blue-3
      &.active
        border-left: 2px solid $blue-3
        color: $white
.overlayCloseMenu
  position: fixed
  z-index: 90
  top: 0px
  width: 100%
  height: 100vh
  background: rgba(0, 0, 0, .4)
  cursor: url("../images-theme/close-cursor.svg"), auto
  animation: hideOverlay 500ms linear
  animation-fill-mode: forwards
  display: none
  &.active
    display: block
    left: 0px
@keyframes showMenu
  0%
    right: -533px
  100%
    right: 0px
@keyframes textAnimation
  0%
    opacity: 0
    top: 80px
  100%
    opacity: .999
    top: 0px
