.sidebarMenu
  position: fixed
  top: 0px
  height: 100vh
  background: $gray-7
  z-index: 100
  padding: 25px 45px
  box-sizing: border-box
  max-width: 533px
  width: 100%
  opacity: 0
  animation: hideMenu 350ms linear
  animation-fill-mode: forwards
  &.active
    animation: showMenu 350ms linear
    animation-fill-mode: forwards
  &__navigation
    text-align: right
    margin-bottom: 75px
  &__closeMenu
    +font($primaryFont, 27px, 31px, $white-1, normal, none, uppercase)
  &__navigation__list
    ul li a
      +font($primaryFont, 24px, 73px, $gray-6, normal, none, uppercase)
      +transition(300ms, linear)
      border-left: 2px solid transparent
      padding-left: 15px
      &:hover
        color: $blue-3
      &.active
        border-left: 2px solid $blue-3
        color: $white
.overlayCloseMenu
  position: fixed
  z-index: 90
  top: 0px
  width: 100%
  height: 100vh
  background: rgba(0, 0, 0, .4)
  cursor: url("../images-theme/close-cursor.svg"), auto
  animation: hideOverlay 500ms linear
  animation-fill-mode: forwards
  &.active
    left: 0px
    animation: showMenu 500ms linear
    animation-fill-mode: forwards
@keyframes hideOverlay
  0%
    left: 0px
    opacity: 1
  1%
    left: -100%
  100%
    opacity: 0
    left: -100%
@keyframes showOverlay
  0%
    left: -100%
    opacity: 0
  1%
    left: 0px
  50%
    opacity: 0
    left: 0px
  100%
    opacity: 1
    left: 0px
@keyframes hideMenu
  0%
    right: 0px
    opacity: 1
  100%
    right: -533px
    opacity: 0
@keyframes showMenu
  0%
    right: -533px
  70%
    opacity: 1
  90%
    right: -20
    opacity: 1
  100%
    right: 0px
    opacity: 1
