<div class="container--fluid aboutPage__head">
  <div class="aboutPage__header">
    <div class="aboutPage__header__featuredImage">
      <img src="/images-theme/about-header-banner.jpg" alt="">
      <div class="aboutPage__header__caption">
        <h1 class="aboutPage__header__caption__title">{{ .Params.title }}</h1>
        <p class="aboutPage__header__caption__tagline">{{ .Params.tagline }}</p>
      </div>
    </div>
  </div>
</div>
<div class="aboutPage__blockquote">
  <div class="aboutPage__blockquote__column">
    <div class="aboutPage__blockquote__description">
      <p>Discover a source of creativity sparked inspirations from artists and scientists from William S. Burroughs, David Bowie, Paul McCartney, Kurt Cobain, & Jan Purkinje.</p>
    </div>
  </div>
  <div class="aboutPage__blockquote__column">
    <div class="aboutPage__blockquote__details">
      <div class="aboutPage__blockquote__details__photo">
        <img src="/images-theme/alen-ginsberg.jpg" alt="">
      </div>
      <div class="aboutPage__blockquote__details__caption">
        <p>
          “I looked into it – it sets up optical fields as religious and mandalic as the hallucinogenic drugs – it’s like being able to have jeweled Biblical designs and landscapes without taking chemicals.”
        </p>
        <div class="aboutPage__blockquote__details__name">
          <span>Allen Ginsberg</span>
        </div>
      </div>
    </div>
  </div>
</div>
