<div class="container--fluid aboutPage__head">
  <div class="aboutPage__header">
    <div class="aboutPage__header__featuredImage">
      <img src="/images-theme/about-header-banner.jpg" alt="">
      <div class="aboutPage__header__caption">
        <h1 class="aboutPage__header__caption__title">{{ .Params.title }}</h1>
        <p class="aboutPage__header__caption__tagline">{{ .Params.tagline }}</p>
      </div>
    </div>
  </div>
</div>
<div class="aboutPage__blockquote">
  <div class="aboutPage__blockquote__column">
    <div class="aboutPage__blockquote__description">
      <p>Discover a source of creativity sparked inspirations from artists and scientists from William S. Burroughs, David Bowie, Paul McCartney, Kurt Cobain, & Jan Purkinje.</p>
    </div>
  </div>
  <div class="aboutPage__blockquote__column">
    <div class="aboutPage__blockquote__details">
      <div class="aboutPage__blockquote__details__photo">
        <img src="/images-theme/alen-ginsberg.jpg" alt="">
      </div>
      <div class="aboutPage__blockquote__details__caption">
        <p>
          “I looked into it – it sets up optical fields as religious and mandalic as the hallucinogenic drugs – it’s like being able to have jeweled Biblical designs and landscapes without taking chemicals.”
        </p>
        <div class="aboutPage__blockquote__details__name">
          <span>Allen Ginsberg</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container--fluid aboutPage__alphaWaves">
  <div class="aboutPage__alphaWaves__container">
    <div class="aboutPage__alphaWaves__title">
      <p>Alpha Waves</p>
    </div>
    <div class="aboutPage__alphaWaves__description">
      <p>Researchers have found a correlation between Alpha brain waves and
        creative thinking either through mindfulness meditation, transcendental
        meditation or electrical stimulation.</p>
      <p>Alpha waves are often present during relaxation exercises, daydreaming
        or in the practice of mindfulness. Some studies have even shown that simply
        walking through the woods can increase Alpha band production.</p>
      <p>In a recent study, out of the University of North Carolina, a low-dose
        electric current of 10 Hz was noted for enhancing Alpha brain wave activity
        and boosting creativity by 7.4%.</p>
      <p>Concurrently, Alpha waves are also useful to those suffering from depression.
        Researchers suppose people with depressive symptoms are engaged in  repetitive
        thought processes. If Alpha wave production is enhanced with flickering light;
        depression may be reduced with a noninvasive and inexpensive treatment to enhance well-being.</p>
    </div>
  </div>
</div>

<div class="container--fluid tips aboutPage__tips">
  <div class="container container--contentWithPadding">
    <div class="tips__list">
      <div class="tips__list__column">
        <div class="tips__list__item">
          <p>Combined with the power of binaural beats and trance-like sound
            choices, it provides the user with the choice to stimulate their mind
            for concentration, meditate for relaxation or enter a dream-like state for creativity and visions.</p>
        </div>
        <div class="tips__list__item">
          <p>Dreamachine is a stroboscopic and sound device that aligns your
            brainwaves to a desired state of consciousness. </p>
        </div>
        <div class="tips__list__item">
          <p>The app was designed to stimulate Alpha and Theta brainwaves via entrainment.</p>
        </div>
        <div class="tips__list__item">
          <p>Dreamachine is a means to conscious dreaming. </p>
        </div>
        <div class="tips__list__item">
          <p>Dreamachine works best with Google cardboard and headphones.</p>
        </div>
      </div>
      <div class="tips__list__column">
        <div class="tips__list__item">
          <p>Primarily used as a tool for creativity, Dreamachine also has a wide range of purposes.</p>
        </div>
        <div class="tips__list__item">
          <p>Dreamachine can help relax and calm your mental state.</p>
        </div>
        <div class="tips__list__item">
          <p>The University of North Carolina researchers have demonstrated that
            stroboscopic light to enhance Alpha brain wave activity, boosts creativity and reduced depression.</p>
        </div>
        <div class="tips__list__item">
          <p>Stroboscopic light has been used as a visionary aid since antiquity
            by the likes of Ptolemy, Aristotle, and Nostradamus.</p>
        </div>
      </div>
    </div>
  </div>
</div>
