{{partial "modules/footer/subscrine/markup" . }}
<div class="container--fluid footer">
  <div class="container container--content footer__container">
    <div class="footer__logo">
      <a href="{{ .Site.Params.baseURL }}">
        {{partial "svg/header-main-logo" . }}
      </a>
    </div>
    <div class="footer__navigation">
      <ul>
        {{ range .Site.Menus.main }}
          <li>
            <a href="{{ .URL }}" class="active">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
    <div class="footer__cta">
      <a href="" class="mainPageHeader__heading__appStore">
        {{partial "svg/app-store-button-sm"}}
      </a>
    </div>
  </div>
</div>
