@media screen and (max-width: 1000px)
  .howItWorks
    margin-top: 250px
  .howItWorks__header__title
    +chageFontSize(35px, 40px)
  .howItWorks__header__description,
  .howItWorksTabs__tabsNavigation__item__description
    +chageFontSize(18px, 22px)
  .howItWorks__header
    top: -70px
    padding: 30px 25px
  .howItWorksTabs__tabsNavigation__item__title
    +chageFontSize(28px, 34px)
  .howItWorksTabs__tab__icon svg
    width: 350px
    left: -50px
    bottom: -100px
  .howItWorksTabs__tab__picture
    width: 40%
    right: -15%
